#editC {
    width: 88%;
    float: left;
    background: url(../foto/backgroundmodules.png);
    background-color: black;
    background-blend-mode: luminosity;
    background-size: cover;
    opacity: 94%;
    display: table-cell;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    height: 90%;
    width: 90%;
    background-color: #000000b8;
    font-size: 170%;
    color: white;
    font-family: Arial;
    font-stretch: ultra-expanded;
    font-variant: petite-caps;
    align-items: center;
}

#title{
    margin-top: 8%;
}
p {
    color: white;
    text-align: center;
}

#form {
    font-size: 180%;
    margin-top: 8%;
}

input {
    height: 25px;
    width: 270px;
}

#box a {
    color: white;
    font-family: Arial;
    font-stretch: ultra-expanded;
    font-variant: petite-caps;
    font-size: 80%;
}